
.App {
  text-align: center;
  
}

.header{ 
  background: hsl(337, 86%, 52%);
  color: #f0f8ff;
  font-size: 500;
  padding: 8px;
}
.btn {
  margin-left:65%;
  margin-top:-3%;
}
.footer{
  position: fixed;
  bottom: 0;
  background: hsl(337, 86%, 52%) ;
  width:100%;
}
.body input{
  border: none;
  margin-top: 2%;
  margin-left: 1%;
  
  padding: 9px;
  width: 70%;
  font-size: 13px;
  background-color: rgba(94, 88, 88, 0.1);
  color: rgb(8, 7, 8);
}
.body button{
  color: rgb(241, 8, 8);
  position: absolute;
  top:12%;
  right: 15%;
  background:hsl(101, 90%, 50%);
  
} 
.body ul{
  margin: 0;
  padding: 15px;
}
.body ul li{
  background-color: mistyrose;
  padding: 10px;
  margin: 4px; 
  font-size: 90%;
  border-radius: 8px;
  list-style: none;
}
.body ul li span{
  cursor: pointer;
  right:5%;
  color: rgb(241, 236, 236);
  width:3%;
  position: absolute;
  border-radius: 830%;
  background:blue;
}

.chackbox{
  margin-right: 91%;
  margin-top: 1.5%;
}
.msg{
  margin-right: 2%;

}

