.App {
  text-align: center;
}

.header{ 
  background: hsl(337, 86%, 52%);
  color: #f0f8ff;
  font-size: 500;
  padding: 15px;
}
.footer{
  position: fixed;
  bottom: 0;
  padding: 2px;
  background: hsl(337, 86%, 52%) ;
  width:100%;
}
.body input{
  margin: 10px;
  background-color: blue;
  width: 90%;
  color: rgb(13, 14, 15);
  font-size: 13px;
  height: 25px;
  border: 2;
  
}
.body button{
  color: #fff;
  position: absolute;
  top:62px;
  right: 9%;
  border-radius: 530%;
  background:hsl(101, 90%, 50%);
  
} 
.body ul{
  margin: 0;
  padding: 15px;
}
.body ul li{
  background: rgb(158, 161, 161);
  margin-bottom: 10px;
  padding: 10px;
  list-style: none;
}
.body ul li span{
  cursor: pointer;
  right:7%;
  color: #fff;
  width:5%;
  position: absolute;
  border-radius: 830%;
  background:hsl(101, 90%, 50%)
}
